.formBox {
    width: 35%;
    background: $mediumBlue;
    height: 100vh;
    padding: 0 35px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0 20px;
    z-index: 2;
    font-weight: bold;
    & h3 {
        color: $lightYellow;
    }
}

.formBox--section {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

label {
    margin-top: 10px;
}

input[type=text] {
    width: 100%;
}

input[type=radio] {
    padding-right: 5px;
}

.required {
    color: $mediumRed;
}

input[type=submit] {
    background-color: $lightYellow;
    color: $darkBlue;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.childInfo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &--name {
        display: flex;
        flex-direction: column;
        & input[type=text]{
            width: 80%;
        }
    }
}

.childPhoto {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.photoContainer {
    height: auto;
    width: 90px;
    margin-top: 10px;
    position: absolute;
    right: 0px;
}
