header {
    position: fixed;
    z-index: 1;
    background: white;
    width: 100%;
}

.header--logo {
    width: 200px;
    margin: 5px 0;
}

main {
    position: relative;
    padding-top: 50px;
}

.mainContent {
    background: $lightBlue;
    & .wrapper {
        width: 60%;
        margin-left: 30px;
        padding: 50px 0;
    }
    & h1 {
        text-align: center;
        text-transform: inherit;
        margin-bottom: 50px;
        color: $darkBlue;
    }
    // width: 65%;
}



// Hero Section

.main-hero {
    height: 80vh;
    background: url("../assets/kid-photograph.jpg");
    background-size: 85%;
    background-attachment: fixed;
    & h1 {
        color: $lightYellow;
    }
    & h3 {
        width: 27%;
        color: $mediumBlue;
        font-family: "Open Sans";
        margin-top: 10px;
        text-transform: inherit;
    }
}

.blue {
    color: $lightBlue;
    border-bottom: 1px solid $lightBlue;
}

.main-hero .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

// BlockQuote 

.quote {
    width: 65%;
    padding: 100px 0;
    color: $mediumBlue;
    text-align: center;
    & p {
        font-style: italic;
    }
}

blockquote {
    position: relative;
    padding: 0 15px;
}

blockquote::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    position: absolute;
    left: 0;
    top: 0px;
}

blockquote::after {
    content: "\f10e";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    position: absolute;
    right: 0;
    bottom: 0px;
}

// Tag Line

.tagline {
    width: 65%;
    padding: 100px 50px;
    text-align: center;
    background-color: white;
    color: $mediumBlue;
    font-size: 2.4rem;
    font-family: "Bree Serif";
    &--bottom {
        background-color: $lightBlue;
        color: $darkBlue;
    }
}

.fa-hand-point-right {
    color: $lightYellow;
    font-size:4rem;
    transform: rotate(-15deg)
}

.explainer {
    display: flex;
    padding: 0px 0 40px 0;
    &--text {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px;
        &__right {
            text-align: right;
            margin-top: 70px;
        }
        & h2 {
            color: $darkBlue;
            line-height: 3rem;
            margin-bottom: 10px;
        }
        & p {
            color: black;
        }
    }
    &--image {
        width: 50%;
        margin: 0 30px;
    }
}


//Thank you page

.thankyou {
    background-color: $mediumBlue;
    &--top {
        text-align: center;
        padding: 50px 0;
        & .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            & p {
                padding: 15px 0;
            }
        }
    }
    &--image {
        width: 200px;
    }
    &--btn {
        padding: 10px 20px;
        background-color: $lightYellow;
        border: 2px solid $lightYellow;
        border-radius: 10px;
    }
    &--blogs {
        background-color: white;
        color: $mediumBlue;
        padding: 50px 0;
        text-align: center;
        &__section {
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }
        &__boxes {
            width: 25%;
            border: 2px solid lightgrey;
            margin: 10px;
        }
        &__text {
            padding: 10px;
            color: black;
            &:hover {
                color: $darkBlue;
            }
        }
    }
}