header {
    position: fixed;
    z-index: 1;
    background: white;
    width: 100%;
}

.header--logo {
    width: 200px;
    margin: 5px 0;
}

main {
    position: relative;
    padding-top: 50px;
}

.mainContent {
    background: $lightBlue;
    & .wrapper {
        width: 60%;
        margin-left: 30px;
    }
    // width: 65%;
}



// Hero Section

.main-hero {
    height: 80vh;
    background-image: url("public/assets/kid-photograph.jpg");
    // background-size: 37%;
    // background-color: $lightYellow;
    // background-repeat: no-repeat;
    // background-position: 320px 100px;
}

.main-hero .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

// Tag Line

.tagline {
    width: 65%;
    padding: 100px 25px;
    text-align: center;
    background-color: #fff;
    color: $mediumBlue;
    font-size: 3rem;
    font-family: "Bree Serif";
}

.explainer {
    display: flex;
    padding: 30px 0 40px 0;
    &--text {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px;
        &__right {
            text-align: right;
            margin-top: 70px;
        }
        & h2 {
            color: $darkBlue;
            line-height: 3rem;
            margin-bottom: 10px;
        }
        & p {
            color: black;
        }
    }
    &--image {
        width: 50%;
        margin: 0 30px;
    }
}


//Thank you page

.thankyou {
    background-color: $mediumBlue;
    &--top {
        text-align: center;
        padding: 50px 0;
        & .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            & p {
                padding: 15px 0;
            }
        }
    }
    &--image {
        width: 200px;
    }
    &--btn {
        padding: 10px 20px;
        background-color: $lightYellow;
        border: 2px solid $lightYellow;
        border-radius: 10px;
    }
    &--blogs {
        background-color: white;
        color: $mediumBlue;
        padding: 50px 0;
        text-align: center;
        &__section {
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }
        &__boxes {
            width: 25%;
            border: 2px solid lightgrey;
            margin: 10px;
        }
        &__text {
            padding: 10px;
            color: black;
            &:hover {
                color: $darkBlue;
            }
        }
    }
}